/*

 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*/

html {
    font-size: 62.5%
    }

body {
    background-color: white;
    color: orange;
    font-size: 1.6rem;
    font-family: 'Roboto-Mono', monospace;
}

#headerImg {
    height: 15%;
    width: 15%;
    display: inline-block;
    margin-left: 350px;
    border-radius: 50%;
    position: relative;
    top: 25px;
}

#parkGuide {
    font-family: 'Chelsea Market', cursive;
    font-size: 5.4rem; 
    width: 600px;
    display: inline-block; 
    position: relative;
    top: -140px;
    left: 90px;
}

.center {
    text-align: center;
    color: black;
}

#desc {
    margin: 10px;
    border: 1px;
    padding: 5px;
    background-color: #DDB9A3;
    color: white;
    width: 70%;
    position: relative;
    left: 15%;
    font-size: 4.8rem;
}

.buttons {
    background-color: white;
    color: white;
    border-radius: 25px;
    font-size: 2.4rem;
    width: 20rem;
    
    display: inline-block;
    position: relative;
} 



#plan {
    background-color: #FF764E;
}

#learn {
    background-color: #5ED3EB;
}

#involve {
    background-color: #FFCD69;
}

#imgShrink {
    height: 125px;
    width: 125px;
}

.blackText {
    color: black;
}

p {
    font-size: 2.4rem;
}

.navContainer nav a {
    margin: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    box-sizing: content-box;
}

.narrowBox {
    padding: 5;
    margin-bottom: 18px;
    width: 600px;
    display: inline-block;
    position: relative;
    left: 75px;
    top: -150px;
}

.smallerBox {
    padding: 5;
    margin-bottom: 72px;
    width: 400px;
    display: block;
    position: relative;
    left: 43%;
    top: -150px;
}

#fire {
    margin: 10px;
    border: 1px;
    padding: 5px;
    font-size: 1.8rem; 
    width: 20%;
    position: relative;
    left: 40%;
    
}